<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CameraRecordingApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
				<key>dateExpires</key>
				<string>5/12/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ASValueTrackingSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BEMCheckBox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CCCountrySelector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DeepLinkKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EmptyKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FXBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GBDeviceInfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HideKeyboardTapGestureManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JHTAlertController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LTHRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Localize_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>M13ProgressSuite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MZTimerLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TabPageViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WKNavigationWebController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF08FA45678C7D69850DEEC983B8CBE753DA83C</string>
						<key>dateExpires</key>
						<string>5/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YLProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZT5X8H6X9</string>
						<key>name</key>
						<string>Userfeel Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BZT5X8H6X9.Userfeel.Userfeel</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BZT5X8H6X9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>BZT5X8H6X9.Userfeel.Userfeel</string>
				</array>
			</dict>
			<key>name</key>
			<string>CameraRecordingApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>822bf684-9961-4a49-b90b-6d058baf096e</string>
				<key>name</key>
				<string>Userfeel_AdHock_Provision_Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BZT5X8H6X9</string>
				<key>name</key>
				<string>Userfeel Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
