<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pursuit.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
				<key>dateExpires</key>
				<string>10/6/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DeepLinkKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ESTabBarController_swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EmptyKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSegmentedControl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HTTPStatusCodes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTMaterialSwitch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KVNProgress.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PIDatePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RHDisplayLinkStepper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SHTextFieldBlocks.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SimpleAlert.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyTimer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E0762C9261BEB0417B60A8CA27B7B765C4C77E</string>
						<key>dateExpires</key>
						<string>10/6/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HEL7S68QC6</string>
						<key>name</key>
						<string>Pursuit Health Technologies, LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HEL7S68QC6.com.HealthPursuit</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HEL7S68QC6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>HEL7S68QC6.com.HealthPursuit</string>
				</array>
			</dict>
			<key>name</key>
			<string>Pursuit.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>48a1981a-e477-48ee-b270-627278e9d366</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.HealthPursuit</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HEL7S68QC6</string>
				<key>name</key>
				<string>Pursuit Health Technologies, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
